section {
    position: relative
}

section.home-hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: 50%;
    justify-content: 50%;
    -ms-flex-align: center;
    align-items: center;
    height: 640px;
    /* background-image: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb) */
    /* background-image: linear-gradient(to top right, #36096d, #5c299b, #37d5d6); */
    /* background-image: linear-gradient(to right top, #00384f, #003d56, #00435e, #004865, #004e6d, #005877, #006282, #006d8c, #007f99, #0091a2, #00a3a7, #00b5a9); */
    background-image: linear-gradient(to right top, #00384f, #00415c, #004b69, #005477, #005e85, #006990, #00749a, #007fa4, #008ea9, #009ca9, #00a9a2, #00b596);
    
}

@media (min-width:768px) {
    section.home-hero {
        height: 592px
    }
}

@media (min-width:992px) {
    section.home-hero {
        height: 710px
    }
}

@media (min-width:1200px) {
    section.home-hero {
        height: 820px
    }
}

@media (min-width:1999.98px) {
    section.home-hero {
        height: 1040px
    }
}